.signup_form{
  background-color: white;
  border-radius: 2%;
  padding: 5% 5%;
  margin:5% 35% 5% 35%;
}
.update_form{
  background-color: white;
  border-radius: 2%;
  padding: 5% 5%;
  margin:5% 30% 5% 30%;
}


@media only screen and (max-device-width: 480px){
  body {
    font-size: 2em;
  }
  h5{
    font-size: 1.2em;
  }
  p{
    font-size: 1em;
  }
  #title
  {
    width: 80%;
    height: 5%; !important
    font-size: 1.2em;
  }
  .dropdown-menu{
    font-size: 1em;
  }
  .btn{
    font-size: 1em;
  }
  .signup_form{
    margin:20%;
  }
  .signin_form{
    font-size: 2em;
  }
  .update_form{
    margin: 20% 10%
  }
}
