.post{
  margin:10% 0% 10% 0;
}
.user{
  background: #ECF0F1;
  border:0;
  margin:10% 0 10% 0;
  height: 40%;
}
.comment{
  height: inherit;
  margin-bottom: 0%;
}
#id{
  color: #979A9A ;
}
.user-data{
  display: none;
}
@media only screen and (max-device-width: 998px){
.user{
  display: none;
}
.user-data{
  display: block;
}
.comment{
  margin-top: 10%;
}

}
