{%extends 'Home.html'%}
{%load static%}
<!DOCTYPE html>
{%block body_block%}
<head>
  <title>About Us</title>
  <link rel="stylesheet" href="{% static "css/Font.css" %}">

</head>
<body>

{%csrf_token%}
<div class="jumbotron">
  <h1>About Us</h1>
<p>On Earth Day, 22 April 1970, 22 million Americans took to the streets to demonstrate for a healthy, sustainable environment. This, say some, was responsible for the formation of the Environmental Protection Agency (EPA). In America, at any rate, green had at that point become politicised, and those who adopted the movement were then branded as anti-capitalist and anti-development. In reality, this decade marked the emergence of modern environmentalism.

Around the world, movements for change formed around the word green, with perhaps the best known being the environmental lobbyist/activist group, Greenpeace. In politics, green parties rose in prominence, eventually taking a place in the mainstream, even rising into government, notably in Germany and, less predicably, in the Australian senate.

As environmental improvement became a high profile and common cause, green took on a positive connotation, indicating those organisations and people whose actions take into account their impact on our ecosystems, our health and the survival and recovery of our home planet.

The reality of climate change has accelerated the acceptance of environmentally responsible actions and has “mainstreamed” living green. Today, green marketing colours manufacturing, consumer behaviour, procurement, centrist politics, and international trade.

Ecolabelling is the modern tool for validating production and consumption that has less negative impact on the environment than the alternative, non-ecolabelled products and services. A legitimate ecolabel enables anyone in the community to embrace green living with the certainty that their purchasing power is being channelled for environmental benefit. An aspiration for green living is becoming the norm in developed economies, and a motivator in countries wishing to supply products and services to them. UNEP, the UN environmental programme, with the support of GEN, the Global Ecolabelling Network, is working actively to assist developing nations in playing their part in green living, and adopting ecolabelling.

Living green is essentially beneficial, and it need not cost more.

In practical “macro” terms it means:

reducing consumption and minimising waste
strengthening local communities and relationships
residing in, and promoting, energy-efficient and sustainably built housing
applying informed scepticism to consumer promotions and purchases
creating ecolabelled, authentically “green”, work and educational spaces
using well-researched environmental guidelines in professional procurement
being guided in your personal and professional purchasing by ecolabels
creating sustainable food systems and living arrangements
Living green is a positive, economically sensible and humanly sensitive way of life.

</p>
</div>
</body>
{%endblock%}
