{%extends 'Home.html'%}
{%load static%}
{%block body_block%}
<head>
  <link rel="stylesheet" href="{% static "css/Font.css" %}">

</head>
  <body>
    <div class="card" style="width: inherit">
      <img src="{{mypost_detail.post_pic.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{mypost_detail.title}}</h5>
        <p>Published On:{{mypost_detail.published_date}}</p>
        <p class="card-text">{{mypost_detail.post}}</p>
        <br>

        <p><a class="btn btn-warning" href="{%url 'mypost_update' pk=mypost_detail.pk%}">Update</a>
          <a class="btn btn-danger" href="{%url 'mypost_delete' pk=mypost_detail.pk%}">Delete</a>
        </p>
      </div>
    </div>
  </body>

{%endblock%}
